.button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #FFF;

  cursor: pointer;
}

.button--add {
  background: var(--color-primary);
}

.button--add:hover {
  background: var(--color-primary-dark);
}

.button--add:active {
  background: var(--color-primary-darker);
}

.button--cancel {
  background: var(--color-secondary);
  color: var(--color-primary);
}

.button--cancel:hover {
  background: var(--color-secondary-dark);
}

.button--cancel:active {
  background: var(--color-secondary-darker);
}

.button--cancel:disabled {
  background: var(--color-secondary);
  color: var(--color-secondary-dark);
  cursor: not-allowed;
}

.button--delete {
  background: var(--color-danger);
}

.button--delete:hover {
  background: var(--color-danger-dark);
}

.button--delete:active {
  background: var(--color-danger-darker);
}

.button--delete:disabled {
  background: var(--color-danger-light);
  cursor: not-allowed;
}

.button--transparent {
  background: none;
}

@media (min-width: 700px) {
  .button {
    padding: 5px 26px;
    font-size: 2rem;
  }
}